/* GLOBALES */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E5E6E0;
  font-family: "Open sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
a:focus-visible {
  outline: 1px solid #000;
  transition: outline 1s ease-in;
}

p {
  color: #555;
  padding-top: 10px;
}

label {
  font-weight: 600;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: 1px solid #000;
  transition: outline 1s ease-in;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section:first-child h2 {
  text-align: center;
}

.section__container__encabezado hr {
  max-width: 200px;
  margin: 0 auto;
  border: 1px dashed;
  border-color: #C6C8C0;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #C8CBC4;
  color: #000;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
}
.footer__container p {
  text-align: center;
}
.footer__sec_left h3 {
  margin-bottom: 1rem;
}
.footer__sec_right h3 {
  margin-bottom: 1rem;
}
.footer__sec_right ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer__irtop a:hover {
  text-decoration: underline;
}

/*ICONOS REDES SOCIALES**/
.fa {
  padding: 10px;
  font-size: 15px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-whatsapp:hover {
  opacity: 0.7;
}

/*MAPA REDES*/
/*Asignamos valores mediante el bucle*/
.fa-whatsapp {
  background-color: #64D984;
  color: #fff;
}

.fa-instagram {
  background-color: #125688;
  color: #fff;
}

.fa-facebook {
  background-color: #3a5795;
  color: #fff;
}

@media (min-width: 768px) {
  .footer__container {
    width: 80%;
    max-width: 1400px;
    align-self: center;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacto redes" "footer-copyright footer-copyright" "irtop irtop";
  }
  .footer__sec_left {
    grid-area: contacto;
  }
  .footer__sec_right {
    grid-area: redes;
    justify-self: end;
  }
  .footer__copyright {
    grid-area: footer-copyright;
  }
  .footer__irtop {
    grid-area: irtop;
  }
}
/* ENCABEZADO Y MENU*/
.logo {
  height: 150px;
  width: 200px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.logo h1 {
  height: 0;
  margin: 0;
  text-indent: -9999px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 1rem;
}

section h3 {
  text-align: center;
}

/*Menu hamburguesa*/
.menu-hidden {
  display: none;
}

#menu:not(.menu-hidden) {
  display: block;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: -10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: #FF8800;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000;
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ ul {
  transform: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -150px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 50% 0 0 0;
  border: 2px solid #C6C8C0;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .logo {
    height: 200px;
    width: 200px;
  }
  header {
    width: 80%;
    max-width: 1400px;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  main {
    min-height: 100vh;
  }
  #menuToggle span {
    display: none;
  }
  #menu {
    display: inline;
    position: unset;
    margin: 0;
    padding: 50px;
    list-style-type: none;
    transform: none;
    background: none;
    border: none;
  }
  #menu a:first-child li {
    border-left: none;
  }
  #menu a li {
    display: inline-block;
    border-left: 1px rgba(104, 79, 64, 0.2) solid;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
  }
}
.form__contacto div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
  gap: 0;
  margin: 0px;
}
.form__contacto div:last-child {
  width: 50%;
}
.form__contacto div:last-child input {
  font-weight: bold;
  background-color: #f0f0f0;
  color: #000;
  width: 140px;
}
.form__contacto div:last-child input:hover {
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background-color: #CCCEC7;
  cursor: pointer;
}
.form__contacto div input {
  height: 40px;
  margin: 10px 0;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form__contacto div textarea {
  margin: 10px 0;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form__contacto div input:hover, .form__contacto div textarea:hover {
  -webkit-transition: border-color 1s ease-in;
  -ms-transition: border-color 1s ease-in;
  transition: border-color 1s ease-in;
  border-color: #000;
}

@media (min-width: 1024px) {
  .form__contacto {
    width: 50%;
    max-width: 700px;
  }
}
.section__slider {
  height: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px ridge #C6C8C0;
  border-left: 0px;
  border-right: 0px;
  background-image: url(../img/slider.jpg);
  background-attachment: fixed;
  opacity: 0.6;
  -webkit-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.section__slider:hover {
  opacity: 1;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section__article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
  margin: 0;
  text-align: center;
}

.article__card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 1rem;
  padding: 1rem;
}

.article__card svg {
  height: 70px;
  width: 100%;
}

.section__escribinos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
}

@media (min-width: 768px) {
  .section__slider {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .section__escribinos, .section__article {
    width: 80%;
    max-width: 1400px;
    align-self: center;
  }
  .section__escribinos {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .section__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .article__card {
    border-radius: 10px;
    padding: 1rem;
    max-width: 500px;
    transition: box-shadow 1s ease-out;
  }
  .article__card:hover {
    -webkit-box-shadow: 0px 0px 30px -1px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 30px -1px rgb(0, 0, 0);
    box-shadow: 0px 0px 30px -1px rgb(0, 0, 0);
    transition: box-shadow 1s ease-in;
  }
  .section__escribinos h3 {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .section__slider {
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .section__slider {
    height: 400px;
  }
}
.section__productos {
  margin: 1rem;
}

.card__product {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}
.card__product h3 {
  margin-bottom: 1rem;
}
.card__product p {
  line-height: 1.5rem;
}

.section__card__products {
  display: grid;
  grid-template-columns: 300px;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .section__productos {
    width: 80%;
    max-width: 1400px;
    align-self: center;
  }
  .section__card__products {
    grid-template-columns: repeat(2, 300px);
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  .card__product {
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .card__product:hover {
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
}
.container__aboutus {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.section__container__aboutus {
  margin-top: 10px;
  background-color: white;
  gap: 1rem;
}
.section__container__aboutus img {
  width: 100%;
  height: auto;
}
.section__container__aboutus p {
  padding: 1rem;
  text-align: center;
  line-height: 1.8rem;
}

@media (min-width: 768px) {
  .container__aboutus {
    width: 80%;
    max-width: 1400px;
    align-self: center;
    margin-bottom: 1rem;
  }
  .section__container__aboutus {
    margin: 0;
    margin-top: 1rem;
    background-color: white;
    gap: 1rem;
  }
  .section__container__aboutus img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  .section__container__aboutus p {
    text-align: justify;
    padding: 1rem;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .section__container__aboutus {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .section__container__aboutus {
    margin: 0;
    margin-top: 1rem;
    background-color: white;
    gap: 1rem;
  }
  .section__container__aboutus img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0 10px 10px;
  }
  .section__container__aboutus p {
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .container__aboutus {
    align-items: center;
  }
}
.section__contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem;
}

.section__container__contacto {
  background-color: #fff;
}
.section__container__contacto .form__contacto {
  background-color: #C8CBC4;
  margin-top: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .section__contacto {
    width: 80%;
    max-width: 1400px;
    align-self: center;
    max-width: 100%;
    margin-bottom: 0;
    padding: 1rem 0;
  }
}
@media (min-width: 1024px) {
  .section__contacto {
    width: 100%;
    background-image: url("../img/contact.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
  }
  .section__container__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  .section__container__contacto .form__contacto {
    width: 50%;
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .section__contacto {
    background-size: cover;
  }
}
.section__testimonios {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.section__testimonios article {
  border: 1px solid #C6C8C0;
}
.section__testimonios article:nth-of-type(-n+3) {
  margin-top: 20px;
}
.section__testimonios article:nth-of-type(n+3) {
  margin-bottom: 20px;
}
.section__testimonios p {
  line-height: 1.5rem;
  color: #808080;
}
.section__testimonios > p {
  width: auto;
  margin: 1rem auto;
  padding: 1rem;
  text-align: justify;
  border-left: 5px inset #C6C8C0;
  box-sizing: border-box;
  background-color: #fff;
}
.section__testimonios img {
  display: block;
  margin: 10px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonios__card__rounded {
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
}
.testimonios__card__rounded p {
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 768px) {
  .section__testimonios {
    width: 80%;
    max-width: 1400px;
    align-self: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .section__testimonios {
    justify-content: center;
    align-items: center;
  }
  .testimonios__card__rounded {
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 1200px) {
  .section__testimonios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "encabezado encabezado encabezado" "parrafo parrafo parrafo";
    gap: 1rem;
  }
  .section__testimonios .section__container__encabezado {
    grid-area: encabezado;
  }
  .section__testimonios article {
    border-radius: 15px 15px 15px 70px;
  }
  .section__testimonios article:nth-of-type(n+3) {
    margin-bottom: 0px;
  }
  .section__testimonios p {
    grid-area: parrafo;
    max-width: 700px;
  }
  .testimonios__card__rounded {
    max-width: 400px;
    padding: 1rem;
    height: 350px;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .testimonios__card__rounded:hover {
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
}

/*# sourceMappingURL=styles.css.map */
