.section-container-aboutus {
    @include flex-column;
    margin: $margin;

}

.section-container-aboutus__content {

    margin-top: 10px;
    background-color: white;
    gap: 1rem;

    & img {
        width: 100%;
        height: auto;
    }

    & p {
        padding: 1rem;
        text-align: center;
        line-height: 1.8rem;
    }
}


@media(min-width:768px) {
    .section-container-aboutus {
        @include col-md;
        margin-bottom: 1rem;
    }


    .section-container-aboutus__content {
        margin: 0;
        margin-top: $margin;
        background-color: white;
        gap: 1rem;

        & img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }

        & p {
            text-align: justify;
            padding: 1rem
        }
    }


}

@media(min-width:1024px) and (orientation:landscape) {

    .section-container-aboutus__content {
        @include flex-row;
        align-items: center;
        margin: 0;
        margin-top: $margin;
        background-color: white;
        gap: 1rem;

        & img {
            width: 100%;
            max-width: 400px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            margin: 10px 0 10px 10px;
        }

        & p {
            max-width: 600px;
        }

    }

}

@media(min-width:1200px) {

    .section-container-aboutus {
        align-items: center;
    }

}